.cell
	background white
	height 100%
	width 100%
	border 1px solid lighten(text-light, 25%)
	box-shadow 0 0 10px rgba(0,0,0,0.15), 0 100px 80px rgba(0,0,0,0.075), 0 40px 100px -50px rgba(170,170,170,0.5)
	border-radius 25%
