.controls
	grid-column 1/2
	grid-row 2/3
	padding 1em 0 1em 1em
	button
		display flex
		justify-content flex-start
		width 3.25em
		padding 1em
		margin-bottom 1em
		overflow hidden
		white-space nowrap
		i
			display flex
			align-items center
			justify-content center
			padding 0
			height auto
			width auto
			margin-right 1em
			&:before
				display block
				font-size 1em
				height 1em
				width 1em
