header
	.app-about
		button
			&.about-button
				margin 0
				padding 0.9em
				height 3em
				width 3em
				border-radius 3em
				overflow hidden
				white-space nowrap
				display flex
				justify-content flex-start
				align-items center
				outline none
				i
					margin-right: 1.5em;
				&:focus
					box-shadow gray
